@model Mobikon.IMS.Message.DeviceTransaction

@{
    ViewBag.Title = "Add Device Inventory";
}

<script src="/Scripts/modernizr-2.8.3.js"></script>
<script src="/Scripts/jquery-2.1.4.js"></script>
<script src="/bundles/jquery-ui"></script>
<script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/device.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

@using (Html.BeginForm("CreateDeviceTransaction", "Device", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <br />
    <br />
    <center>
        <h5>
            <strong>Add Device Inventory</strong>
        </h5>
    </center>
    <div class="col-md-offset-1 col-md-10" style="border-radius: 5px;text-align: center;background-color: #fff;border: solid 1px #808080;">          
        <center>
            <div class="border1 col-md-12">
                <div class="form-horizontal">
                    <div class="col-md-6">
                        @Html.ValidationSummary(true, "Device inventory not saved successfully.", new { @class = "text-danger" })
                        @Html.HiddenFor(deviceTransaction => deviceTransaction.deviceID)
                        <div class="form-group">
                            @Html.Label(" ", new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.Label("", (string)ViewBag.message, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(deviceTransaction => deviceTransaction.productSerial, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(deviceTransaction => deviceTransaction.productSerial, ViewBag.productSerial as IEnumerable<SelectListItem>, "Select device serial", new { @class = "form-control", @autofocus = "autofocus" })
                                @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.productSerial, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(deviceTransaction => deviceTransaction.deviceDetails, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(deviceTransaction => deviceTransaction.deviceDetails, new { @class = "form-control", @readonly = "readonly" })@*@disabled = "disabled"*@
                                @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.deviceDetails, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*clientID*@
                        @Html.HiddenFor(deviceTransaction => deviceTransaction.clientID)
                        @if (Session["Role"].ToString() == "Accounts" || Session["Role"].ToString() == "Administrators" || Session["Role"].ToString() == "Sales")
                        {
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.clientName, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(deviceTransaction => deviceTransaction.clientName, ViewBag.clientName as IEnumerable<SelectListItem>, "Select brand name", new { @class = "form-control", @autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.clientName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        @if (Session["Role"].ToString() == "Operations")
                        {
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.clientName, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(deviceTransaction => deviceTransaction.clientName, ViewBag.clientName as IEnumerable<SelectListItem>, "Select brand name", new { @class = "form-control", @autofocus = "autofocus", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.clientName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            @Html.LabelFor(deviceTransaction => deviceTransaction.clientCityName, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(deviceTransaction => deviceTransaction.clientCityName, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.clientCityName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(deviceTransaction => deviceTransaction.clientCountryName, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(deviceTransaction => deviceTransaction.clientCountryName, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.clientCountryName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*outletID*@
                        @Html.HiddenFor(deviceTransaction => deviceTransaction.outletID)
                        @if (Session["Role"].ToString() == "Accounts" || Session["Role"].ToString() == "Administrators" || Session["Role"].ToString() == "Sales")
                        {
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.outletName, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(deviceTransaction => deviceTransaction.outletName, ViewBag.OutletName as IEnumerable<SelectListItem>, "Select outlet", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.outletName, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        }
                        @if (Session["Role"].ToString() == "Operations")
                        {
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.outletName, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(deviceTransaction => deviceTransaction.outletName, ViewBag.OutletName as IEnumerable<SelectListItem>, "Select outlet", new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.outletName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        @Html.HiddenFor(deviceTransaction => deviceTransaction.cityID)
                        <div class="form-group">
                            @Html.LabelFor(deviceTransaction => deviceTransaction.cityName, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(deviceTransaction => deviceTransaction.cityName, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.cityName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @Html.HiddenFor(deviceTransaction => deviceTransaction.countryID)
                        <div class="form-group">
                            @Html.LabelFor(deviceTransaction => deviceTransaction.countryName, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(deviceTransaction => deviceTransaction.countryName, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.countryName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @if (Session["Role"].ToString() == "Operations" || Session["Role"].ToString() == "Administrators" || Session["Role"].ToString() == "Sales")
                        {
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.dcDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(deviceTransaction => deviceTransaction.dcDate, new { @class = "form-control datepicker" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.dcDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.dc, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(deviceTransaction => deviceTransaction.dc, new { @class = "form-control", @maxlength = "20" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.dc, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Attachment", new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    <input type="file" name="fileUpload" class="form-control" />
                                </div>
                            </div>
                        }
                        @if (Session["Role"].ToString() == "Accounts")
                        {
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.dcDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(deviceTransaction => deviceTransaction.dcDate, new { @class = "form-control", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.dcDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.dc, htmlAttributes: new { @class = "control-label col-md-4" })

                                <div class="col-md-8">
                                    @Html.TextBoxFor(deviceTransaction => deviceTransaction.dc, new { @class = "form-control", @maxlength = "20", @disabled = "disabled" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.dc, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            @Html.DisplayFor(deviceTransaction => deviceTransaction.dcFileName, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.ActionLink("Show Delivery Challan", "DisplayPDF", null, new { target = "_blank" })
                            </div>
                        </div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(deviceTransaction => deviceTransaction.deliveryDate, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(deviceTransaction => deviceTransaction.deliveryDate, new { @class = "form-control datepicker", placeholder = "Enter deployment date here...", @disabled = "disabled" })
                                @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.deliveryDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @if (Session["Role"].ToString() == "Accounts" || Session["Role"].ToString() == "Administrators" || Session["Role"].ToString() == "Sales")
                        {
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.rdc, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(deviceTransaction => deviceTransaction.rdc, new { @class = "form-control", @maxlength = "20" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.rdc, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.rdcDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(deviceTransaction => deviceTransaction.rdcDate, new { @class = "form-control datepicker", placeholder = "Enter rdc date here..." })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.rdcDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.hic, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(deviceTransaction => deviceTransaction.hic, new { @class = "form-control", @maxlength = "20" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.hic, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.hicDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(deviceTransaction => deviceTransaction.hicDate, new { @class = "form-control datepicker", @maxLength = "10", placeholder = "Enter hic date here..." })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.hicDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.insured, new { @class = "control-label col-md-4" })
                                <div class="col-md-1">
                                    @Html.CheckBoxFor(deviceTransaction => deviceTransaction.insured, new { @class = "form-control", @checked = "checked", id = "chkbox" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.insured, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.insuranceClaim, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(deviceTransaction => deviceTransaction.insuranceClaim, new { @class = "form-control", @maxlength = "25" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.insuranceClaim, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.damagedOldDevice, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(deviceTransaction => deviceTransaction.damagedOldDevice, new { @class = "form-control", @maxlength = "25" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.damagedOldDevice, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.transferOwnershipDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(deviceTransaction => deviceTransaction.transferOwnershipDate, new { @class = "form-control datepicker", placeholder = "Enter transfer ownership date here..." })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.transferOwnershipDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        @if (Session["Role"].ToString() == "Operations")
                        {
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.rdc, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(deviceTransaction => deviceTransaction.rdc, new { @class = "form-control", @readonly = "readonly", @maxlength = "20" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.rdc, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.rdcDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(deviceTransaction => deviceTransaction.rdcDate, new { @class = "form-control datepicker", @readonly = "readonly", placeholder = "Enter rdc date here..." })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.rdcDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.hic, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(deviceTransaction => deviceTransaction.hic, new { @class = "form-control", @readonly = "readonly", @maxlength = "20" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.hic, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.hicDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(deviceTransaction => deviceTransaction.hicDate, new { @class = "form-control datepicker", @readonly = "readonly", @maxLength = "10", placeholder = "Enter hic date here..." })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.hicDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.insured, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.CheckBoxFor(deviceTransaction => deviceTransaction.insured, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.insured, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.insuranceClaim, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(deviceTransaction => deviceTransaction.insuranceClaim, new { @class = "form-control", @readonly = "readonly", @maxlength = "25" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.insuranceClaim, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.damagedOldDevice, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(deviceTransaction => deviceTransaction.damagedOldDevice, new { @class = "form-control", @readonly = "readonly", @maxlength = "25" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.damagedOldDevice, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.transferOwnershipDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(deviceTransaction => deviceTransaction.transferOwnershipDate, new { @class = "form-control datepicker", @readonly = "readonly", placeholder = "Enter transfer ownership date here..." })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.transferOwnershipDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            @Html.LabelFor(deviceTransaction => deviceTransaction.companyOwner, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(device => device.companyOwner, ViewBag.companyOwner as IEnumerable<SelectListItem>, new { @class = "form-control", @disabled = "disabled" })
                                @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.companyOwner, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @Html.HiddenFor(deviceTransaction => deviceTransaction.statusID)
                        @if (Session["Role"].ToString() == "Accounts" || Session["Role"].ToString() == "Administrators" || Session["Role"].ToString() == "Sales")
                        {
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.status, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(deviceTransaction => deviceTransaction.status, ViewBag.statusName as IEnumerable<SelectListItem>, "Select status", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.remarks, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(deviceTransaction => deviceTransaction.remarks, new { @class = "form-control", @maxlength = "5000" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.remarks, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        @if (Session["Role"].ToString() == "Operations")
                        {
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.status, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(deviceTransaction => deviceTransaction.status, ViewBag.statusName as IEnumerable<SelectListItem>, "Select status", new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(deviceTransaction => deviceTransaction.remarks, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextAreaFor(deviceTransaction => deviceTransaction.remarks, new { @class = "form-control", @readonly = "readonly", @maxlength = "5000" })
                                    @Html.ValidationMessageFor(deviceTransaction => deviceTransaction.remarks, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <center><input type="submit" name="command" value="Save" class="btn btn-default" /></center>
                    </div>
                </div>
            </div>                          
        </center>
        <div class="col-md-3">
            @Html.ActionLink("Back to List", "DeviceTransaction", "Device") <div>&nbsp;</div>
        </div>
    </div>                
}
