@model PagedList.IPagedList<Mobikon.IMS.Message.City>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "City List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>City List</title>   
    </head>
    <body>
        <script src="/Scripts/modernizr-2.8.3.js"></script>
        <script src="/Scripts/jquery-2.1.4.js"></script>
        <script src="/bundles/jquery-ui"></script>
        <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
        <script src="/Scripts/jquery.validate.js"></script>
        <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/mobikonims.js"></script>
      
        @using (Html.BeginForm("City", "City", FormMethod.Get))
        {
            <div>&nbsp;</div>
            <center>
                <h5>
                    <strong>City List</strong>
                </h5>
            </center>
        <div style="border-radius: 5px; vertical-align:central; width:1250px;background-color: #fff;border: solid 1px #808080;">
            <div class="filtering">
                <div class="container">
                    <div class="row">
                        <div class="brnd col-md-3">
                            <h5>Country:</h5>
                            @Html.DropDownList("countryNameSearch", ViewBag.countryNameSearch as SelectList, new { style = "width: 200px;", @class = "form-control" })
                        </div>
                        <div class="brnd col-md-3">
                            <h5>City:</h5>
                            @Html.DropDownList("cityNameSearch", ViewBag.cityNameSearch as SelectList, new { style = "width: 200px;", @class = "form-control" })
                        </div>
                        <div class="brnd col-md-2">
                            <h5>&nbsp;</h5>
                            <input type="submit" value="Search" class="btn btn-default" />
                        </div>
                        <div class="brnd col-md-1">
                            <h5>&nbsp;</h5>
                            @if (Session["Role"].ToString() == "Administrators")
                            { 
                                @Html.ActionLink("Add City", "CreateCity",null, new { @class = "btn btn-default" })                                   
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    }
    <div style="border-radius: 5px;vertical-align:central; width:1250px;background-color: #fff;border: solid 1px #808080;">
        <div class="container">
            <div>&nbsp;</div>
            <table class="table table-striped" data-search="true" style="border:solid 1px #ddd;background-color:lightyellow">
                <tr>
                    <th>
                        @Html.ActionLink("Country", "City", new { sortOrder = ViewBag.countryNameSort, countryNameFilter = ViewBag.countryNameFilter })
                    </th>
                    <th>
                        @Html.ActionLink("City", "City", new { sortOrder = ViewBag.cityNameSort, cityNameFilter = ViewBag.cityNameFilter })
                    </th>
                    <th>Action</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(device => item.countryName)
                        </td>
                        <td>
                            @Html.DisplayFor(device => item.cityName)
                        </td>
                        @if (Session["Role"].ToString() == "Administrators" || Session["Role"].ToString() == "Operations")
                        {
                            <td>
                                @Html.ActionLink("Edit", "EditCity", new { cityID = item.cityID })
                            </td>
                        }
                    </tr>
                }
            </table>
            @Html.PagedListPager(Model, page => Url.Action("City", new { page, sortOrder = ViewBag.currentSort, cityNameFilter = ViewBag.cityNameFilter, countryNameFilter = ViewBag.countryNameFilter, paging = ViewBag.paging }))
        </div>
    </div>
</body>
</html>