@model Mobikon.IMS.Message.ChangePassword
@{
    ViewBag.Title = "Change password";
    if (Session["ResetPassword"].ToString() == "False")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if (Session["ResetPassword"].ToString() == "True")
    {
        Layout = "~/Views/Shared/_LoginLayout.cshtml";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <div>&nbsp;</div>
        <center>
            <h5>
                <strong>Change Password</strong>
            </h5>
        </center>
        @Html.AntiForgeryToken()
        <div class="col-md-offset-2 col-md-8" style="border-radius: 5px;text-align: center;background-color: #fff;border: solid 1px #808080;">           
            <center>
                <div>&nbsp;</div>           
                @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")               
                 <div class="form-horizontal">
                    @if (!string.IsNullOrEmpty(Session["UserName"].ToString()))
                    {
                        @Html.Hidden(Session["UserID"].ToString())
                        <div class="form-group">
                            @Html.LabelFor(changePassword => changePassword.userName, new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.TextBox(Session["UserName"].ToString(), Session["UserName"].ToString(), new { @class = "form-control", @maxlength = "50", @readonly = "readonly", @autofocus = "autofocus" })
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        @Html.Label("Current Password", new { @class = "control-label col-md-4" })
                        <div class="col-md-5">
                            @Html.PasswordFor(changePassword => changePassword.currentPassword, new { @class = "form-control", @maxlength = "50" })
                            @Html.ValidationMessageFor(changePassword => changePassword.currentPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(changePassword => changePassword.Password, new { @class = "control-label col-md-4" })
                        <div class="col-md-5">
                            @Html.PasswordFor(changePassword => changePassword.Password, new { @class = "form-control", @maxlength = "50" })
                            @Html.ValidationMessageFor(changePassword => changePassword.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(changePassword => changePassword.confirmPassword, new { @class = "control-label col-md-4" })
                        <div class="col-md-5">
                            @Html.PasswordFor(changePassword => changePassword.confirmPassword, new { @class = "form-control", @maxlength = "50" })
                            @Html.ValidationMessageFor(changePassword => changePassword.confirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div>&nbsp;</div>           
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            <input type="submit" value="Save" name="command" class="btn btn-default" />
                            <input type="submit" value="Cancel" name="command" class="btn btn-default" />
                            @*<input type="submit" value="Close" name="command" class="btn btn-default" />*@
                        </div>
                    </div>
                </div>
            </center>
            @if (Session["Role"] != null)
            {
                <div class="col-md-3">
                    @Html.ActionLink("Back to Home", "MobikonIMS", "MobikonIMS")<div>&nbsp;</div>
                </div>
            }
        </div>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>