@model Mobikon.IMS.Message.ForgetPassword
@{
    
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forget Password</title>
</head>
<body>
    <center>
        @using (Html.BeginForm())
            {
            <div>&nbsp;</div>
                <center>
                    <h5>
                        <strong>Forget Password</strong>
                    </h5>
                </center>
                @Html.AntiForgeryToken()
                <div class="col-md-offset-2 col-md-8" style="border-radius: 5px;text-align: left;background-color: #fff;border: solid 1px #808080;">
                    <center>
                        <div>&nbsp;</div>
                        @Html.ValidationSummary(true, "Forget password was unsuccessful. Please correct the errors and try again.")
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.Label(" ", new { @class = "control-label  col-md-2" })
                                <div class="col-md-10">
                                    @Html.Label("", (string)ViewBag.message, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(forgetPassword => forgetPassword.userName, new { @class = "control-label  col-md-4" })
                                <div class="col-md-5">

                                    @Html.TextBoxFor(forgetPassword => forgetPassword.userName, new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(forgetPassword => forgetPassword.userName, "", new { @class = "text-danger" })
                                </div>
                            </div>           
                            <div>&nbsp;</div>
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-10">
                                    <input type="submit" value="Send" name="command" class="btn btn-default" />
                                    @*<input type="submit" value="Cancel" name="command" class="btn btn-default" />*@
                                    @*<input type="submit" value="Close" name="command" class="btn btn-default" />*@
                                </div>
                            </div>
                        </div>
                    </center>                    
                    <div class="col-md-3">
                        @Html.ActionLink("Back to Login", "Login", "Login")
                        <div>&nbsp;</div>
                    </div>                   
                </div>
        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </center>
</body>
</html>