@model Mobikon.IMS.Message.ResetPassword
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Reset Password</title>
    </head>
    <body>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div>&nbsp;</div>
            <center>
                <h5>
                    <strong>Reset password</strong>
                </h5>
            </center>
            <div class="col-md-offset-2 col-md-8" style="border-radius: 5px;text-align: center;background-color: #fff;border: solid 1px #808080;">           
                <center>                  
                    @Html.ValidationSummary(true, "Reset password failed. Check your login & password details.")
                    <div>&nbsp;</div>
                    <div class="form-horizontal">
                        @Html.HiddenFor(resetPassword => resetPassword.userID)
                        <div class="form-group">
                            @Html.LabelFor(resetPassword => resetPassword.userName, new { @class = "control-label col-md-4", @forecolor = "Red" })
                            <div class="col-md-5">
                                @Html.TextBoxFor(resetPassword => resetPassword.userName, new { @class = "form-control", @maxlength = "50", @readonly = "readonly" })
                                @Html.ValidationMessageFor(resetPassword => resetPassword.userName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(resetPassword => resetPassword.Password, new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.PasswordFor(resetPassword => resetPassword.Password, new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus" })
                                @Html.ValidationMessageFor(resetPassword => resetPassword.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(resetPassword => resetPassword.confirmPassword, new { @class = "control-label col-md-4", @forecolor = "Red" })
                            <div class="col-md-5">
                                @Html.PasswordFor(resetPassword => resetPassword.confirmPassword, new { @class = "form-control", @maxlength = "50" })
                                @Html.ValidationMessageFor(resetPassword => resetPassword.confirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @Html.HiddenFor(resetPassword => resetPassword.email)
                        @*<div class="form-group">
                                @Html.LabelFor(resetPassword => resetPassword.email, new { @class = "control-label col-md-2", @forecolor = "Red" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(resetPassword => resetPassword.email, new { @class = "form-control", @maxlength = "50", @autofocus = "autofocus" })
                                    @Html.ValidationMessageFor(resetPassword => resetPassword.email, "", new { @class = "text-danger" })
                                </div>
                            </div>*@
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" name="command" class="btn btn-default" />
                                @*<input type="submit" value="Cancel" name="command" class="btn btn-default" />*@
                            </div>
                        </div>
                    </div>
                </center>
                <div>
                    @if (Session["Role"].ToString() == "Administrators")
                    {
                        <div>
                            @Html.ActionLink("Back to list", "Users")
                        </div>
                    }
                </div>
            </div>
        }
        @section Scripts {        @Scripts.Render("~/bundles/jqueryval")    }
    </body>
</html>